<h2>Products</h2>

<div class="product-card-container" *ngFor="let product of products; index as productId">

	<div class="card-image-description-holder">
			<img src="{{ product.image }}" [routerLink]="['/products', productId]"/>
      <div class="product-title">
				<h3>
					<a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
						{{ product.name }}
					</a>
				</h3>
        </div>
		</div>

		<div class="card-content">
			<p *ngIf="product.description">Description: {{ product.description }}</p>
			<div>
				<button (click)="share()">Share</button>
				<app-product-alerts [product]="product" (notify)="onNotify()">
				</app-product-alerts>
			</div>
		</div>
	</div>